MONGODB_USER=subly
MONGODB_PASSWORD=subly
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DB=subly

ADMIN_USER=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASS=admin

SESSION_SECRET=keyboardcat
CORS_ORIGIN=http://localhost:5173

PORT=3000
HOST=http://localhost:3000

RESEND_API_KEY=your_resend_api_key_here